.jumbotron {
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 1000px;
	
}

.jumbotron h4 {
	font-size: 25px;
	color: #525C65;
	text-align: center;
}

#content {
	background-color: #fdf8ff;
	border: 2px inset red;

}

#picture {
	position: relative;
	top: 80px;
	height: 420px;
	width: 450px;
	border: 1px inset black;
}

.page-header h1 {
	text-align: center;