.jumbotron {
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 1000px;
	
}

.jumbotron h4 {
	font-size: 25px;
	color: #007fff;
	text-align: center;
}

#picture {
	position: relative;
	top: 40px;
	height: 375px;
	width: 400px;
}

.page-header h1 {
	text-align: center;